@media (max-width: 1200px) {

    .cell-box1,
    .cell-box2,
    .cell-box3,
    .cell-box4 {
        position: initial;
        margin-top: 25px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h5 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .mt-15 {
        margin-top: 3rem;
    }

    .contact-btn button {
        display: none;
    }

    .header-nav {
        display: flex !important;
        justify-content: center !important;
    }

    .home-top {
        text-align: center;
        padding-top: 55px;
    }

    .home-top--content {
        margin-bottom: 70px;
    }

    .contact-btn button,
    .head-contact_btn button {
        padding: 14px 35px;
        font-size: 14px;
    }

    .reachtous,
    .core-values,
    .cell-designed {
        padding: 70px 26px !important;
    }

    .reach-box {
        height: 350px;
    }

    .core-table,
    .proposition-table {
        margin-top: 30px;
        grid-template-columns: auto;
    }

    .core,
    .proposition {
        padding: 25px 20px;
    }

    .core-img img {
        width: 40px;
        height: 40px;
    }

    .core-name {
        padding-left: 0px !important;
        margin-left: 25px;
    }

    .reach-icon img {
        width: 55px;
        height: 55px;
    }

    .topic h2::before {
        left: 30%;
    }

    .topic1 h2::before {
        left: 0;
    }

    .topic {
        text-align: initial;
    }

    .cell-list ul li {
        font-size: 14px;
    }

    .cell-image img {
        width: 324.18px;
        height: 358px;
    }

    .reach-cotent {
        justify-content: start !important;
    }

    .about-box {
        height: auto;
        margin-bottom: 1.5rem;
    }

    .full-width {
        grid-column: inherit;
    }

    .about-content1 {
        display: block;
    }

    .about-countryFlag img {
        width: 50px;
        height: 35px;
    }

    .about-list{
        margin-left: 0;
    }
}